html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

}

#content {
    height: 100%;
    width: 100%;
    background-color: #F0F3F4;
}

#calculator {
    display: block;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    text-align: center;
}

#first-label {
    margin-right: 22%;
}

#equals {
    background-color: #007AFF;
    font-size: 25px;
    border-radius: 5px;
    margin: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-color: transparent;
    border-width: 1px;
}

#clear {
    background-color: #F8F9FA;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-color: transparent;
    border-width: 1px;
}

.hover-buttons:hover {
    box-shadow: 5px 5px 5px 5px lightgray;
    border-color: lightgrey !important;
    border-width: 1px;
}

#radio-buttons {
    padding-top: 10%;
}